.App {
    text-align: center;
    top: 5px;
  }
    
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 80px;
    padding: 6px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }